.canvas {
	background-color: #f7f7f9;
}

.agent {
	background-image: url(pictures/agent.jpg);
	background-size: 100%;
}

.finish {
	background-image: url(pictures/finish.jpg);
	background-size: 100%;
}

.wall {
	background-image: url(pictures/wall.jpg);
	background-size: 100%;
}

.emptyPlatform {
}

.pitch .platform {
	background-color: white;
	vertical-align: middle;
	padding: 0px;
	text-align: center;
}

.pitch .platform .reward {
	width: 50%;
	text-align: center;
}

.pitch .platform .action {
	opacity: 0.5;
	width: 100%;
	height: 100%;
}